<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rpgtasks">

    <application
        android:allowBackup="true"
        android:icon="@drawable/monstertwo"
        android:label="@string/appname"
        android:roundIcon="@drawable/monstertwo"
        android:supportsRtl="true"
        android:theme="@style/RpgTasks">
        <activity android:name=".dungeon.DungeonminigameActivity"></activity>
        <activity android:name=".login.LogoutActivity" />
        <activity android:name=".advertise.AdvertiseActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".character.InventoryActivity" />
        <activity android:name=".character.CharacterActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".status.StatusChartActivity" />
        <activity android:name=".dungeon.DungeonEventActivity" />
        <activity android:name=".dungeon.DungeonActivity" />
        <activity android:name=".CreateTodoName" />
        <activity android:name=".CreateTodoProfile" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CreateTodoActivity" />
    </application>

</manifest>